<html>
  <head>
    <title>Chronic Kidney Disease</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .jumbotron{
       background-color: bisque;

      }
      
    </style>
     <style>
      body {
        margin: 0;
        padding: 0;
      }
      #bg-image {
        background-image: url("/home/vaithi/Downloads/NM Project/Project_1/pngwing.com.png");
        background-size: cover;
        height: 500px;
        width: 100%;
        position: fixed;
        z-index: -1;
      }
      #content {
        position: relative;
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <main role="main"></main>
      <div class="container">
        <h1 style="font-family: sanserif; " class="jumbotron-heading">Chronic Kidney Disease Prediction</h1>
        <button><a class="nav-link" href="index1.html" style=" color: black; font-family: sansserif; ">Predict</a></button>
    </div>
  </div><!-- /.container -->
  <section class="jumbotron p-3 p-md-5 text-black rounded text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Chronic Kidney Disease Prediction</h1>
      
    </div>
    <div id="bg-image"></div>
    <div id="content">
      <!-- Your content here -->
    </div>
  </section>
  </body>
</html>
